@import 'variables';
@import 'reset';

body {
  @extend %clr-white;
  background: $clr-violet url('../images/bg-mobile.svg') no-repeat top center;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  height: 100vh;
  font-family: $ff-open-sans;
  text-align: center;
}

%clr-white {
  color: #fff;
}

header {
  margin-top: 2rem;
  margin-bottom: 3.5rem;

  .logo {
    width: 8rem;
  }
}

main {
  .content {
    display: grid;
    gap: 3rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    p {
      font-size: 1.02rem;
    }
  }

  button {
    display: inline-block;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    color: $clr-violet;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background 0.2s;

    a {
      text-decoration: none;
      font-size: 0.8rem;
      font-family: $ff-poppins;
    }

    &:hover {
      background-color: $clr-magenta;

      a {
        @extend %clr-white;
      }
    }
  }
}

footer {
  .social {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    i {
      @extend %clr-white;
      border: 1px solid #fff;
      padding: 7px;
      border-radius: 50%;
      width: 32px;
      height: 32px;

      &:hover {
        color: $clr-magenta;
        border-color: $clr-magenta;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    overflow: hidden;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);

    .main-text {
      height: 100%;
      align-self: flex-start;
      // justify-content: center;
      text-align: left;

      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 25%;
        margin: 0;
      }
    }
  }

  footer {
    .social {
      margin-top: 2rem;
      justify-content: flex-end;
    }
  }
}

@media (min-width: 1300px) {
  header {
    .logo {
      width: 10rem;
    }
  }

  main {
    .content {
      .main-text {
        h1 {
          font-size: 3.6rem;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          width: 25%;
          margin: 0;
        }
      }
    }
  }

  footer {
    .social {
      padding-bottom: 0;
    }
  }
}
