@import 'variables';
@import 'reset';

body {
  @extend %clr-white;
  background: $clr-violet url('../images/bg-mobile.svg') no-repeat top center;
}

.container {
  padding:0 2rem;
  margin: 0 auto;
  height: 100vh;
  font-family: $ff-open-sans;
  text-align: center;
}

%clr-white {
  color: #fff;
}

header {
  margin-top: 2rem;
  margin-bottom: 3.5rem;

  .logo {
    width: 8rem;
  }
}

main {

  .content {
    display: grid;
    gap:3rem
  }

  h1 {
    font-size: 1.6rem;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    gap:1.3rem;

  }

  p {
    font-size: 1.02rem;
  }

  button {
    display: inline-block;
    border-radius: 100px;
    border:none;
    background-color: #fff;
    color: $clr-violet;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background 0.2s;

    a {
      text-decoration: none;
      font-size: 0.8rem;
      font-family: $ff-poppins;
    }

    &:hover {
      background-color: $clr-magenta;

      a {
        color: #fff;
      }
      
    }
  }
}

